body {
  background: white;
}
p {
  color: black;
  text-decoration: underline solid blue 2px;
}
header {
  text-align: center;
  align-self: center;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px dashed black;
  width:300px;
}
