body {
  background: white;
  animation-name: bgflux;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
p {
  color: black;
  animation-name: textflux;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes textflux {
0%      {text-size:12px}
25%     {text-size:24px}
50%     {text-size:36px}
75%     {text-size:24px}
100%    {text-size:12px}
}
@keyframes bgflux {
  0%      {background: white}
  45%     {background: white}
  49.9%   {background: rgb(255, 0, 0)}
  50%     {background: rgb(255, 74, 228)}
  50.1%   {background: rgb(255, 0, 0)}
  55%     {background: white}
  100%    {background: white}
  }
