body {
  background: white;
}
p {
  color: black;
  text-decoration-color: rgb(66, 167, 255);
  text-decoration-thickness: 5px;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
